[settings]
experimental = true
cache_prune_age = "7d"
idiomatic_version_file_enable_tools = ["python", "node"]

[settings.pipx]
uvx = true

[settings.python]
uv_venv_auto = true

[settings.npm]
bun = true

[shell_alias]
g = "jump"
s = "bookmark"
d = "deletemark"
p = "showmarks"
review = "tuicr"
pre-commit = "prek"

[env]
OPENCODE_EXPERIMENTAL_ICON_DISCOVERY = "true"
OPENCODE_EXPERIMENTAL_FILEWATCHER = "true"
OPENCODE_EXPERIMENTAL_LSP_TOOL = "true"
CLAUDE_CONFIG_DIR = "{{env.HOME}}/.claude"

[tools]
# tools (version-sensitive or not in brew/apt)
actionlint = 'latest'
argocd = 'latest'
biome = 'latest'
copier = 'latest'
helm = 'latest'
kubeseal = 'latest'
kustomize = 'latest'
lua-language-server = 'latest'
marksman = 'latest'
octosql = 'latest'
opencode = 'latest'
pdm = 'latest'
pnpm = 'latest'
poetry = 'latest'
ruff = 'latest'
rust-analyzer = 'latest'
tree-sitter = 'latest'
yamlfmt = 'latest'
yamllint = 'latest'
yazi = 'latest'

# npm tools
"npm:@astrojs/language-server" = "latest"
"npm:@github/copilot" = "latest"
"npm:@github/copilot-language-server" = "latest"
"npm:@mermaid-js/mermaid-cli" = "latest"
"npm:bash-language-server" = "latest"
"npm:ccstatusline" = "latest"
"npm:cloc" = "latest"
"npm:cspell" = "latest"
"npm:dockerfile-language-server-nodejs" = "latest"
"npm:eslint" = "latest"
"npm:eslint_d" = "latest"
"npm:fixjson" = "latest"
"npm:gh-actions-language-server" = "latest"
"npm:graphql" = "latest"
"npm:graphql-language-service-cli" = "latest"
"npm:lua-3p-language-servers" = "latest"
"npm:markdownlint-cli" = "latest"
"npm:opencollective" = "latest"
"npm:prettier" = "latest"
"npm:pyright" = "latest"
"npm:stylelint" = "latest"
"npm:ts-server" = "latest"
"npm:typescript" = "latest"
"npm:typescript-language-server" = "latest"
"npm:vscode-langservers-extracted" = "latest"
"npm:yaml-language-server" = "latest"

# pipx tools
"pipx:autotools-language-server" = "latest"
"pipx:basedpyright" = "latest"
"pipx:codespell" = "latest"
"pipx:datadog" = "latest"
"pipx:django-language-server" = "latest"
"pipx:djlint" = "latest"
"pipx:ipython" = "latest"
"pipx:mypy" = "latest"
"pipx:nox" = "latest"
"pipx:pyrefly" = "latest"
"pipx:pytest" = "latest"
"pipx:pytest-language-server" = "latest"
"pipx:python-lsp-server" = { version = "latest", extras = "all" }
"pipx:tox" = "latest"
"pipx:ty" = "latest"

# go tools
"go:golang.org/x/tools/gopls" = 'latest'

# rust tools
"cargo:tuicr" = 'latest'

# runtimes (needs to be last)
bun = 'latest'
deno = 'latest'
go = 'latest'
node = 'latest'
python = ['3.14', '3.13', '3.12', '3.11', '3.10']
rust = 'latest'

[tasks."docker:stop-all"]
description = 'Docker stop all containers'
run = """
if [ -z "$(docker ps -q)" ]; then
  echo "No running containers"
else
  echo "Stopping all running containers..."
  docker stop $(docker ps -a -q) || true
fi
"""

[tasks."docker:prune"]
description = 'Docker prune'
depends = ["docker:stop-all"]
run = """
docker system prune -f
docker image prune -a -f
docker builder prune -a -f
docker buildx prune -a -f
"""

[tasks."docker:prune-all"]
depends = ["docker:stop-all", "docker:prune"]
description = 'Docker prune all'
run = """
docker volume prune -a -f
"""
