[settings]
experimental = true
idiomatic_version_file_enable_tools = ["python", "node"]

[settings.pipx]
uvx = true

[settings.python]
uv_venv_auto = true

[settings.npm]
bun = true

[tools]
# tools
1password-cli = 'latest'
actionlint = 'latest'
argocd = 'latest'
ast-grep = 'latest'
biome = 'latest'
bottom = 'latest'
cheat = 'latest'
delta = 'latest'
doctl = 'latest'
duf = 'latest'
fd = 'latest'
github-cli = 'latest'
glab = 'latest'
helm = 'latest'
k9s = 'latest'
kubectl = 'latest'
kubectx = 'latest'
kubeseal = 'latest'
kustomize = 'latest'
lazygit = 'latest'
lua-language-server = 'latest'
marksman = 'latest'
poetry = 'latest'
pre-commit = 'latest'
prek = 'latest'
ripgrep = 'latest'
ruff = 'latest'
rust-analyzer = 'latest'
shfmt = 'latest'
stylua = 'latest'
uv = 'latest'
yamlfmt = 'latest'
yamllint = 'latest'

# npm tools
"npm:@astrojs/language-server" = "latest"
"npm:@github/copilot" = "latest"
"npm:@github/copilot-language-server" = "latest"
"npm:@mermaid-js/mermaid-cli" = "latest"
"npm:bash-language-server" = "latest"
"npm:cloc" = "latest"
"npm:cspell" = "latest"
"npm:dockerfile-language-server-nodejs" = "latest"
"npm:eslint" = "latest"
"npm:eslint_d" = "latest"
"npm:fixjson" = "latest"
"npm:gh-actions-language-server" = "latest"
"npm:graphql" = "latest"
"npm:graphql-language-service-cli" = "latest"
"npm:lua-3p-language-servers" = "latest"
"npm:markdownlint-cli" = "latest"
"npm:opencode-ai" = "latest"
"npm:opencollective" = "latest"
"npm:patch-package" = "latest"
"npm:pnpm" = "latest"
"npm:prettier" = "latest"
"npm:pyright" = "latest"
"npm:stylelint" = "latest"
"npm:tree-sitter-cli" = "latest"
"npm:ts-server" = "latest"
"npm:typescript" = "latest"
"npm:typescript-language-server" = "latest"
"npm:vscode-langservers-extracted" = "latest"
"npm:yaml-language-server" = "latest"

# pipx tools
"pipx:autotools-language-server" = "latest"
"pipx:basedpyright" = "latest"
"pipx:codespell" = "latest"
"pipx:copier" = "latest"
"pipx:datadog" = "latest"
"pipx:django-language-server" = "latest"
"pipx:djlint" = "latest"
"pipx:ipython" = "latest"
"pipx:isort" = "latest"
"pipx:mypy" = "latest"
"pipx:nox" = "latest"
"pipx:pdm" = "latest"
"pipx:pipx" = "latest"
"pipx:pyrefly" = "latest"
"pipx:pytest" = "latest"
"pipx:pytest-language-server" = "latest"
"pipx:python-lsp-server" = { version = "latest", extras = "all" }
"pipx:tox" = "latest"
"pipx:ty" = "latest"

# runtimes (needs to be last)
bun = 'latest'
deno = 'latest'
go = 'latest'
node = 'latest'
python = ['3.14', '3.13', '3.12', '3.11', '3.10']
rust = 'latest'

[tasks."docker:stop-all"]
description = 'Docker stop all containers'
run = """
if [ -z "$(docker ps -q)" ]; then
  echo "No running containers"
else
  echo "Stopping all running containers..."
  docker stop $(docker ps -a -q) || true
fi
"""

[tasks."docker:prune"]
description = 'Docker prune'
depends = ["docker:stop-all"]
run = """
docker system prune -f
docker image prune -a -f
docker builder prune -a -f
docker buildx prune -a -f
"""

[tasks."docker:prune-all"]
depends = ["docker:stop-all", "docker:prune"]
description = 'Docker prune all'
run = """
docker volume prune -a -f
"""
